@font-face {
    font-family: cera-gr-bold;
    src: url(/assets/fonts/cera-gr-bold.woff2);
}
body,html{
    max-height: 100%;
    margin-right:0;
    
}
.flex-page{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap:10px;
}





.left-half-img{
    background-image: url(/assets/media/content/hero-image.jpg);
    width:50%;
    text-align: right;
    margin-right:0%;
    padding-right:0%;
    display:flex;
    justify-content: flex-end;
    background-repeat: no-repeat;   
    background-size: cover; 
}
.main-text{
    font-family: cera-gr-bold;
    font-size: 14px;
}


@media (max-width:1024px) {
    .left-half-img{
        display:none;
    }
    
}